@media (max-width: 1300px){
    .grid-container{
        grid-template-rows: repeat(4, 450px);
        grid-template-columns: repeat(2, 256px);
        column-gap: 28px;
        row-gap: 28px;
        margin: auto;
    }
}

@media (max-width: 1064px){
    .container-principal{
        gap: 120px;
    }

    .sessao-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 80px;
    }

    .texto-sobre{
        position: initial;
        text-align: center;
        padding: 0 80px;
    }

    .sessao-criacoes{
        gap: 80px;
    }
}

@media (max-width: 950px){
    .cabecalho-principal{
        padding: 0 60px;
    }

    .menu-desktop{
        gap: 25px;
    }

    .logo-redes-sociais{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .logo-footer{
        width: auto;
        height: auto;
    }

    .menu-copyright-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .menu-copyright-footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        gap: 35px;
    }
}

@media (max-width: 850px){
    .container-principal{
        margin: 120px 0;
    }

    .cabecalho-sessao-criacoes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cabecalho-sessao-criacoes a{
        display: none;
    }

    .sessao-criacoes{
        gap: 0;
    }

    .grid-container{
        margin: 60px auto 50px;
    }

    .botao-versao-mobile{
        display: inline-block;
    }
}

@media (max-width: 768px){
    .cabecalho-principal{
        background: hsl(268, 59%, 49%) url('../images/mobile/image-hero.jpg') top center/cover no-repeat;
        min-height: 650px;
        position: relative;
    }

    .cabecalho-principal::before{
        min-height: 650px;
        background-color: rgba(0, 0, 0, 0);
    }

    .header-container .logo{
        width: 250px;
    }

    .menu-hamburguer{
        display: inline-block;
        width: 45px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        right: 60px;
    }

    nav .menu-desktop{
        display: none;
    }

    .titulo-cabecalho{
        min-height: calc(650px - 150px);
    }

    .titulo-cabecalho h1{
        width: 100%;
    }

    .container-principal{
        padding: 0 45px;
    }

    .sessao-sobre{
        width: 100%;
    }

    .sessao-sobre > img{
        content: url('../images/mobile/image-interactive.jpg');
        width: 100%;
    }
}

@media (max-width: 650px){
    .cabecalho-principal h1{
        font-size: 65px;
        padding: 30px;
    }

    .grid-container{
        display: grid;
        grid-template-rows: repeat(8, 240px);
        grid-template-columns: 100%;
        column-gap: 0;
        margin: 60px 0 50px;
        row-gap: 28px;
    }

    .grid-item{
        background-position: center right;
        padding: 40px;
    }

    .grid-item::before{
        background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.4) 60%);
    }

    .grid-conteudo h3{
        font-size: 38px;
    }

    .grid-item:nth-child(1){
        background-image: url('../images/mobile/image-deep-earth.jpg');
    }
    
    .grid-item:nth-child(2){
        background-image: url('../images/mobile/image-night-arcade.jpg');
    }
    
    .grid-item:nth-child(3){
        background-image: url('../images/mobile/image-soccer-team.jpg');
    }
    
    .grid-item:nth-child(4){
        background-image: url('../images/mobile/image-grid.jpg');
    }
    
    .grid-item:nth-child(5){
        background-image: url('../images/mobile/image-from-above.jpg');
    }
    
    .grid-item:nth-child(6){
        background-image: url('../images/mobile/image-pocket-borealis.jpg');
    }
    
    .grid-item:nth-child(7){
        background-image: url('../images/mobile/image-curiosity.jpg');
    }
    
    .grid-item:nth-child(8){
        background-image: url('../images/mobile/image-fisheye.jpg');
    }
}

@media (max-width: 615px){
    .cabecalho-principal, .container-principal{
        padding: 0 20px;
    }

    .menu-hamburguer{
        right: 20px;
    }
}

@media (max-width: 450px){
    .header-container .logo{
        width: 152px;
    }

    .menu-hamburguer{
        width: 24px;
        height: 16px;
    }

    .logo-menu-mobile{
        width: 152px;
    }

    .fechar-menu-mobile{
        width: 20px;
    }

    .cabecalho-principal h1{
        font-size: 38px;
    }

    .texto-sobre{
        padding: 0;
    }

    .texto-sobre h2{
        font-size: 36px;
    }

    footer{
        padding: 50px 10px 0;
    }

    .attribution{ 
        font-size: 11px; 
    }
}